*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    display: grid;
    place-items: center;
 }
 form{
    min-width: 800px;
    background-color: white;
    box-shadow: 2px 2px 0px grey;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
h2{
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
}
input, select{
 
    color: blueviolet;
    border-color: blueviolet;
    padding: 5px 0px;
    text-align: center;
    outline: none;
    width: 200px;
    font-size: 28px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#in{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
option{
    background-color: transparent;
    margin-top: 2px;
    border: none;
    outline: none;
    padding: 20px;
}
input[type="submit"]{
    cursor: pointer;
    display: block;
    margin: 10px auto;
}
#output{
    text-align: center;
    display: block;
    margin: 30px auto;
    font-size: 28px;
    color: green;

}